.App {
}

.Body {
  background-color: #FEFEFE;
}

.Sad-Holder {
  display: flex;
  justify-content: center;
}

.Sad-Holder-Container {
  width: 100%;
  max-width: 300px;
}

.Sad-Holder-Container > div {
  text-align: center;
  font-size: 20px;
  color: #D0D0D0;
}

.TopBar-Header {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  color: #1DE9B6;
  font-weight: bold;
  font-size: 18px;
  background-color: #37474F;
}

.TopBar-Logo-Typeface {
  margin: 0 0 0 10px;
}

.TopBar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #37474F;
}

.TopBar-Wrapper {
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.TopBar-Button {
  transition: 0.25s color, 0.25s background-color;
  text-align: center;
  width: 25%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  color: #FFFFFF;
  text-transform: uppercase;
}

.TopBar-Button:hover {
  background-color: #263238;
}

.TopBar-Button.selected {
  color: #1DE9B6;
}

.TopBar-Button > i {
  transition: 0.1s color;
  font-size: 16px;
  margin: 0 0 5px 0;
  color: #FFFFFF;
}

.TopBar-Button.selected > i {
  color: #1DE9B6;
}

.TopBar-Button > div {
  font-size: 12px;
}

.TopBar-Bar {
  transition: 0.25s transform;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 4px;
  background-color: #1DE9B6;
}

.MyClass {
  margin: 0 0 20px 0;
}

.MyClass-Instructor {
  font-size: 12px;
}

.MyClass-Title {
  font-size: 14px;
}

.MyClass-Header {
  transition: 0.1s background-color;
  width: 100%;
  padding: 20px 10px 20px 10px;
  font-size: 14px;
  border: 1px solid #E0E0E0;
  color: #546E7A;
  background-color: #FFFFFF;
  border-radius: 3px;
  font-weight: bold;
}

.MyClass-Note {
  transition: 0.1s background-color;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 0 0;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #E0E0E0;
  color: #546E7A;
  background-color: #FFFFFF;
  border-radius: 3px;
}

.MyClass-Note:hover {
  background-color: #FAFAFA;
}

.MyClass-Note-Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MyClass-Note-Like {
  transition: 0.1s color;
  margin: 0 10px 0 0;
  cursor: pointer;
  color: #78909C;
  transform: translateY(4px);
}

.MyClass-Note-Like:hover {
  margin: 0 10px 0 0;
  cursor: pointer;
  color: #546E7A;
  transform: translateY(4px);
}

.Body-Add-Note {
  transition: 0.1s box-shadow, 0.1s transform, 0.1s color;
  background-color: #1DE9B6;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: perspective(500px) translateZ(-10px);
  text-transform: uppercase;
}

.Body-Add-Note:hover {
  background-color: #00BFA5;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: perspective(500px) translateZ(10px);
}

.Body-Add-Note > div {
  text-align: center;
}

.Body-Add-Note > div > i {
  font-size: 20px;
  margin: 0 0 5px 0;
}

.Body-Add-Note > div > div {
  font-size: 12px;
}

.Body {
  width: 100%;
  height: calc(100vh - 120px);
  overflow-x: hidden;
}

.Body-Carousel {
  transition: 0.25s transform;
  display: flex;
  width: 400%;
  height: 100%;
}

.Body-Pane {
  width: 100vw;
  height: 100%;
  padding: 20px 10px 20px 10px;
  overflow-y: scroll;
}

.ClassSearch-Search-Input {
  position: relative;
  height: 40px;
  border-radius: 3px;
  display: flex;
  border: 1px solid #E0E0E0;
  color: #546E7A;
  background-color: #FFFFFF;
}

.ClassSearch-Suggestions-Container {
  position: relative;
}

.ClassSearch-Search-Input > .icon {
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  transform: translateY(2px);
}

.ClassSearch-Search-Input > input {
  width: calc(100% - 36px);
  outline: 0;
  border: 0;
  font-size: 14px;
  color: #546E7A;
}

.Notification {
  transition: 0.1s background-color;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  border: 1px solid #E0E0E0;
  color: #546E7A;
  background-color: #FFFFFF;
  border-radius: 3px;
  margin: 0 0 10px 0;
}

.Notification:hover {
  background-color: #FAFAFA;
}

.Notification-Description {
  font-size: 14px;
}
.Notification-Timestamp {
  font-size: 10px;
}

.Note {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  pointer-events: none;
  z-index: 3;
}

.Note-Content {
  transition: 0.2s transform, 0.2s box-shadow;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: #FEFEFE;
  overflow-y: scroll;
  pointer-events: visible;
  padding: 20px 10px 20px 10px;
}

.Note-Content.show {
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(0);
}

.button {
  transition: 0.25s background-color;
  padding: 10px 10px 10px 10px;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid #E0E0E0;
  color: #546E7A;
  background-color: #FFFFFF;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.button:hover {
  background-color: #FAFAFA;
}

.button > i {
  margin: 0 5px 0 0;
  font-size: 12px;
  transform: translateY(2px);
}

.Note-Text {
  margin: 20px 0 20px 0;
  padding: 20px;
  border: 1px solid #E0E0E0;
  color: #546E7A;
  background-color: #FFFFFF;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
}

.Button-Row > div {
  display: inline-block;
}

.Button-Row > .Button-Col {
  margin: 0 10px 10px 0;
}

.Button-Left-Space {
  margin: 0 20px 0 0;
}

.Note-Content-Title {
  margin: 20px 0 20px 0;
  color: #546E7A;
  font-size: 18px;
  font-weight: bold;
}

.Note-File-Upload-Container {
  display: flex;
  margin: 20px 0 20px 0;
}

.Note-File-Upload-Container > .button {
  margin: 0 10px 0 0;
}

.button > form {
  position: fixed;
  top: -1000px;
}

.Note-Big-Add-Button {
  transition: 0.25s background-color, 0.25s color;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  width: 150px;
  height: 150px;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid #E0E0E0;
  color: #546E7A;
  background-color: #FFFFFF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.Note-Big-Add-Button > div {
  margin: 5px 0 0 0;
}

.Note-Big-Add-Button:hover {
  color: #FFFFFF;
  background-color: #1DE9B6;
}

.Note-Big-Button {
  padding: 10px 10px 10px 10px;
  width: 150px;
  height: 150px;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid #E0E0E0;
  color: #546E7A;
  background-color: #FFFFFF;
  border-radius: 3px;
  font-size: 12px;
}

.Note-Tile-Container {
  margin: 20px 0 20px 0;
}

.Note-Create-Button-Container {
  margin: 20px 0 0 0;
}

.Login-Panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  pointer-events: none;
  z-index: 5;
}

.Login-Page {
  transition: 0.5s transform, 0.5s box-shadow;
  transform: translateY(-100%);
  width: 100%;
  height: 100%;
  background-color: #37474F;
  overflow-y: scroll;
  pointer-events: visible;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login-Page.show {
  transform: translateY(0);
}

.Login-Title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  color: #1DE9B6;
  font-weight: bold;
  font-size: 24px;
}

.Login-Title-Logo-Typeface {
  margin: 0 0 0 15px;
}

.Login-Options {
  display: inline-flex;
  justify-content: center;
}

.Login-Input {
  width: 250px;
  max-width: 80%;
  margin: 40px 0 20px 0;
}

.Login-Input > div {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0 0 10px 0;
}

.Login-Input > input {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  height: 40px;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  outline: 0;
  border: 0;
  font-size: 12px;
  color: #546E7A;
  border: 1px solid #E0E0E0;
}

.Login-Options > .button {
  margin: 0 5px 0 5px;
}

.row {
  margin: 0 -10px;
  display: flex;
}

.col {
  padding: 0 10px;
  flex: 1 0;
}

.textbox {
  position: relative;
}

.textbox > div {
  font-size: 14px;
  font-weight: bold;
  color: #546E7A;
  margin: 0 0 10px 0;
}

.textbox > input {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  height: 40px;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  outline: 0;
  border: 0;
  font-size: 12px;
  color: #546E7A;
  border: 1px solid #E0E0E0;
}

.textarea > div {
  font-size: 14px;
  font-weight: bold;
  color: #546E7A;
  margin: 0 0 10px 0;
}

.textarea > textarea {
  width: 100%;
  display: block;
  margin: 0 0 20px 0;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  outline: 0;
  border: 0;
  font-size: 12px;
  color: #546E7A;
  border: 1px solid #E0E0E0;
  resize: none;
  height: 200px;
}

.divider {
  border: 1px dashed #D0D0D0;
}

.Login-Forgot-Password {
  margin: 20px 0 0 0;
  font-size: 12px;
  color: #FFFFFF;
  cursor: pointer;
}

@keyframes NoteAddPageContainerOpen {
  from {max-height: 0;}
  to {max-height: 650px;}
}

.Note-Add-Page-Container {
  max-height: 0;
  animation-name: NoteAddPageContainerOpen;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: NoteAddPageContainerOpen;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
}

.Note-Class-Suggestion-Box {
  /* cancel out textbox styles */
  margin: 0;
  /* main styles */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Note-Class-Suggestion {
  transition: 0.1s background-color;
  display: flex;
  width: 100%;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: #546E7A;
}

.Note-Class-Suggestion:hover {
  background-color: #FAFAFA;
}

.fa-heart {
  transition: 0.1s color;
}

.fa-heart.like {
  color: #1DE9B6;
}

.like-button {
  transition: 0.1s color, 0.1s background-color;
}

.like-button.like {
  color: #FFFFFF;
  background-color: #1DE9B6;
}